{% extends "base.html.twig" %}

{% block title %}Le Quai-Antique | La carte
{% endblock %}

{% block body %}
	<article class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h1 class="text-center mt-5">La carte</h1>
				{% for category in category %}
					<h2 class="text-center mt-4">
						{{ category.name | upper }}
					</h2>
					<ul>
						{% for dishe in dishes %}
							{% if dishe.categories.id == category.id %}
								<section class="container-fluid">
									<div class="row">
										<div class="col-12">

											<ol>
                          <h5>Nom :</br></h5>
												<h2 class="text-center mt-4"> {{ dishe.name }}</h2>
											</ol>
											<ol>
                      <h5>Description :</br> </h5>
												<h5>{{ dishe.description }}</h5>
											</ol>
											<ol>
                      <h5>Prix :</br> </h5>
												<h3 class="text-center"> {{ dishe.price }}
													€</h3>
											</ol>
										</div>
									</div>
								</section>
							{% endif %}

						{% endfor %}
					</ul>
				{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}
