{% extends 'base.html.twig' %}

{% block title %}Modifier un plat
{% endblock %}

{% block body %}

	<main class="container text-center">
		<section class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="text-start">Modifier un plat</h1>
                {% include "admin/dishes/_form.html.twig" with {'button_label': 'Modifier'} %}
			</div>
		</section>
	</main>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/images.js') }}" defer></script>

{% endblock %}



	


