{% extends 'base.html.twig' %}

{% block title %}  
Liste des catégories
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    {% include "_partials/_adminnav.html.twig" %}
    <main class="col-9 p-2">
   <h1>Liste des catégories</h1> 
    </main>
    </div>
</div>
{% endblock %}

