/*body {
	font-family: sans-serif;
	background-color: #f2f2f2;
}

.flipbook {
	width: 800px;
	height: 500px;
	margin: 50px auto;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hard {
	background-color: #eee;
}

.page {
	background-color: #fff;
	padding: 20px;
	font-size: 24px;
	text-align: justify;
}

.page h1 {
	margin-top: 0;
}

#page1 {
	background-image: url('entrees.jpg');
	background-size: cover;
}

#page2 {
	background-image: url('plats.jpg');
	background-size: cover;
}

#page3 {
	background-image: url('desserts.jpg');
	background-size: cover;
}

#page4 {
	background-image: url('menus.jpg');
	background-size: cover;
}

#page5 {
	background-image: url('boissons.jpg');
	background-size: cover;
}*/
