<aside class="col-3">
<article class="card mb-3">
<div class="card-header">
Catégories
</div>
<div class="card-body">
<p><a href="">Liste des catégories</a></p>
<p><a href="">Ajouter une catégorie</a></p>
</div>

</article>
<article class="card mb-3">
<div class="card-header">
Produits
</div>
<div class="card-body">
<p><a href="">Liste des produits</a></p>
<p><a href=" {{ path('admin_dishes_add')}} ">Ajouter un produit</a></p>
</div>

</article>
<article class="card mb-3">
<div class="card-header">
Catégories
</div>
<div class="card-body">
<p><a href="">Liste des utilisateurs</a></p>

</div>

</article>
</aside>