{% extends 'base.html.twig' %}

{% block title %}Ajouter un plat
{% endblock %}

{% block body %}

	<main class="container">
		<section class="row">
			<div class="col">
				<h1>Ajouter un plat</h1>
			</div>
		</section>
	</main>

{% endblock %}
